* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #28e4c4;
  font-size: 16px;
  color: white;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.textColor {
  position: relative;
  z-index: 2;
  font-size: 30px;
  display: flex;
  gap: 10px;
  background-color: #000000e0;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
}
.colorHash {
  color: #28e4c4;
}
.btn {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 200;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  box-shadow: -3px 0px 78px -2px rgba(255, 255, 255, 0.59);
  -webkit-box-shadow: -3px 0px 78px -2px rgba(255, 255, 255, 0.59);
  -moz-box-shadow: -3px 0px 78px -2px rgba(255, 255, 255, 0.59);
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
}
footer{
    color: #ffffffef;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 20px;
}